:root{
	--mainColor:#88CA5E;
	--secondaryColor:#D2FBA4;

	--borderColor:#161914;

	--mainText:#3c3d14;
	--secondaryText:#21210a;

	--themeDotBorder:#fff;

	--previewShadow:#549e08;
	--previewBg:rgb(81, 90, 72, 0.8);

	--submitBtn: #669966;

}
