:root{
	--mainColor:#F8AFA6;
	--secondaryColor:#F79489;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#fff;

	--previewShadow:#b54e80;
	--previewBg:rgb(29, 21, 32, 0.8);

	--submitBtn:#FADCD9;

}
